.x-background-hint[data-v-1bb60756]{border:1px solid #e0e0e0}.x-course-data span[data-v-1bb60756]{font-size:12px!important}.x-course-card[data-v-1bb60756],.x-main-img[data-v-1bb60756]{border:1px solid #bdbdbd}
